h1 {
  margin: 0;
}
h3 {
  display: inline;
}
input {
  height: 20px;
  color: black;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
li{
  display: inline;
}
.App {
  margin: 5px;
  padding: 5px;
  font-size: calc(10px + 1vmin);
}

.title {
  color: rgb(233, 173, 7);
}
.submit_button {
  margin-top: 10px;
}
.header {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.std_container {
  border: 2px solid black;
  box-shadow: 3px 6px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}
.std_input {
  width: 250px;
  margin: 3px;
  display: flex;
  justify-content: space-between;
}
.blogs_container {
  color: #777;
}

